/* START FONTS */
@font-face {
  font-family: "iransans medium";
  src: url("../assets/fonts/IRANSansMedium/IRANSans\ Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "iransans regular";
  src: url("../assets/fonts/IRANSansRegular/IRANSans\ Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "iransans ultra";
  src: url("../assets/fonts/IRANSansUltraLight/IRANSans\ UltraLight.ttf")
    format("truetype");
}
@font-face {
  font-family: "vazir Medium";
  src: url("../assets/fonts/Vazir/Vazirmatn-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "vazir Blod";
  src: url("../assets/fonts/Vazir/Vazirmatn-Bold.ttf") format("truetype");
}

/* FINISH FONTS */

/* START APP CSS */

:root {
  --primary-color: #da0b4e;
  --second-color: #131b31;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "iransans regular";
  font-size: 1.6rem;
}

/* START NavBar */

.header-menu {
  padding: 0.6rem 0 0.4rem 0;
}
.nav-right {
  margin-right: 0;
  margin-left: 0;
}
.nav-logo {
}
.logo-img {
  max-width: 12rem;
  margin-bottom: 1.6rem;
}
.menu-items {
  font-size: 1.6rem;
}
.menu-item {
  padding: 2.5rem 1.8rem;
}
.menu-link {
  color: #303740;
  transition: color 150ms ease-in 90ms;
  -webkit-transition: color 150ms ease-in 90ms;
  -moz-transition: color 150ms ease-in 90ms;
  -ms-transition: color 150ms ease-in 90ms;
  -o-transition: color 150ms ease-in 90ms;
}
.menu-link:hover {
  color: var(--primary-color);
}
.nav-left {
  margin-bottom: 1rem;
  margin-right: 0;
  margin-left: 0;
}
.nav-btn {
  padding: 0.4rem 0.5rem;
  margin: 0 1rem;
}
.log-in {
  background-color: #fff;
  border: 0.1rem solid rgba(100, 123, 156, 0.3);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  padding: 0.8 5px;
  transition: all 150ms ease-in 90ms;
  -webkit-transition: all 150ms ease-in 90ms;
  -moz-transition: all 150ms ease-in 90ms;
  -ms-transition: all 150ms ease-in 90ms;
  -o-transition: all 150ms ease-in 90ms;
}
.log-in .btn-link {
  color: var(--primary-color);
  transition: all 150ms ease-in 90ms;
}
.log-in:hover {
  background-color: var(--primary-color);
}
.log-in:hover .btn-link {
  color: #fff;
}
.sign-in {
  background-color: var(--second-color);
  border: 0.1rem solid rgba(100, 123, 156, 0.3);
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  padding: 0.8 5px;
}
.sign-in .btn-link {
  color: #fff;
}
.btn-link {
  padding: 20px 15px;
}

.menu-hamburger--btn {
  display: flex;
  background-color: #fff;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
}
.hamburger-line {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--second-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  transition: all 250ms ease-in;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
}
.hamburger-line::before,
.hamburger-line::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--second-color);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all 250ms ease-in;
  -webkit-transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
}
.hamburger-line::before {
  top: 0;
  margin-top: 1.8rem;
}
.hamburger-line::after {
  bottom: 0;
  margin-bottom: 1.8rem;
}
.menu-hamburger--btn--open .hamburger-line {
  background: transparent;
}
.menu-hamburger--btn--open .hamburger-line::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 0.6rem;
}
.menu-hamburger--btn--open .hamburger-line::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  bottom: 0.9rem;
}

.nav-mobile {
  top: 0;
  right: -40rem;
  bottom: 0;
  width: 24rem;
  padding: 2.5rem;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  background: rgba(139, 121, 121, 0.85);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100000;
}
.nav-mobile--open {
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.menu-mobile-item {
  margin-top: 2rem;
}
.menu-mobile-link {
  color: #fff;
  transition: color 250ms ease-in 90ms;
  -webkit-transition: color 250ms ease-in 90ms;
  -moz-transition: color 250ms ease-in 90ms;
  -ms-transition: color 250ms ease-in 90ms;
  -o-transition: color 250ms ease-in 90ms;
}
.menu-mobile-link:hover {
  color: var(--primary-color);
}
.mobile-link--btn {
  margin-top: 6rem;
  cursor: pointer;
}
.nav-mobile-btn {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  margin-left: 0;
}
.mobile-log-in {
  background-color: #fff;
  border: 0.1rem solid rgba(100, 123, 156, 0.3);
  transition: all 150ms ease-in 90ms;
  -webkit-transition: all 150ms ease-in 90ms;
  -moz-transition: all 150ms ease-in 90ms;
  -ms-transition: all 150ms ease-in 90ms;
  -o-transition: all 150ms ease-in 90ms;
}
.btn-mobile-link-login {
  color: var(--primary-color);
}
.btn-mobile-link-login {
  transition: all 150ms ease-in 90ms;
  -webkit-transition: all 150ms ease-in 90ms;
  -moz-transition: all 150ms ease-in 90ms;
  -ms-transition: all 150ms ease-in 90ms;
  -o-transition: all 150ms ease-in 90ms;
}
.mobile-log-in:hover {
  background-color: var(--primary-color);
}
.mobile-log-in:hover .btn-mobile-link-login {
  color: #fff;
}

.btn-mobile-link-login:hover {
  color: #fff;
}
.btn-mobile-link-signin {
  color: #fff;
}
.btn-mobile-link-signin:hover {
  color: #fff;
}

/* FINISH NavBar */

/* START Header Banner */
.banner {
  background: linear-gradient(rgba(5, 32, 68, 0.7), rgba(5, 32, 68, 0.7)),
    url("../assets/Images/banner.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.banner-caption--title {
  color: #fff;
  font-size: 4.4rem;
  font-family: "iransans medium";
  max-width: 60rem;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.4;
  padding-right: 0.9rem;
}
.banner-caption--text {
  color: #fff;
  font-family: "iransans ultra";
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 0;
  margin-top: 0.2rem;
  max-width: 59rem;
  line-height: 2;
  padding-left: 1rem;
}

.banner-caption {
  margin-top: 2rem;
}
.banner-caption-wrapper {
  padding-right: 0;
}
.banner-caption__search {
  max-width: 100rem;
  height: 7rem;
  background-color: #fff;
  margin-right: 0;
  padding-right: 1rem;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  overflow: hidden;
}
.caption__search--input {
  outline: none;
  border: none;
  margin-right: 3rem;
  max-width: 92%;
}
.caption__search--input::placeholder {
  color: #131b3179;
  font-size: 1.4rem;
  padding-right: 0.5rem;
}
.icon {
  color: rgba(218, 11, 78, 0.4);
}
.caption-search__btn {
  left: 0;
  top: 0;
  bottom: 0;
  padding: 3rem;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: all 250ms ease-in 90ms;
  -webkit-transition: all 250ms ease-in 90ms;
  -moz-transition: all 250ms ease-in 90ms;
  -ms-transition: all 250ms ease-in 90ms;
  -o-transition: all 250ms ease-in 90ms;
}
.caption-search__btn:hover {
  background-color: #da0b4c30;
  color: var(--primary-color);
}
/* FINISH Header Banner */

/* START Company Top  */
.company-keeper {
  height: 18rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  margin-top: -11rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.company-logo {
  max-width: 20rem;
  cursor: pointer;
  transition: all 250ms ease-in 90ms;
  -webkit-transition: all 250ms ease-in 90ms;
  -moz-transition: all 250ms ease-in 90ms;
  -ms-transition: all 250ms ease-in 90ms;
  -o-transition: all 250ms ease-in 90ms;
}
.company-logo:hover {
  margin-bottom: 1.5rem;
}
/* FINISH Company Top  */

/* START Categories */
.categories {
  margin-bottom: 14rem;
}
.cat-title {
  margin-top: 8rem;
}
.cat-title__header {
  color: #4d5868;
  font-size: 1.3rem;
}
.cat-title__caption {
  font-family: "iransans medium";
}
.title__caption--color {
  color: var(--primary-color);
  margin-right: 0;
  margin-left: 0;
}

.cat-content--item {
  margin-top: 4rem;
  margin-right: 0;
}
.keeper-items {
  padding: -2rem;
  cursor: pointer;
}

.item1 {
  padding: 3rem 1.5rem;
  background-color: rgba(0, 173, 182, 0.1);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  margin-right: 0;
  transition: all 100ms ease-in 20ms;
  -webkit-transition: all 100ms ease-in 20ms;
  -moz-transition: all 100ms ease-in 20ms;
  -ms-transition: all 100ms ease-in 20ms;
  -o-transition: all 100ms ease-in 20ms;
}
.item1:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.item2 {
  background-color: rgba(154, 222, 69, 0.1);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  padding: 3rem 1.5rem;
  margin-left: 0;
  transition: all 100ms ease-in 20ms;
  -webkit-transition: all 150ms ease-in 40ms;
  -moz-transition: all 150ms ease-in 40ms;
  -ms-transition: all 150ms ease-in 40ms;
  -o-transition: all 150ms ease-in 40ms;
}
.item2:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.cat-content__keeper--img {
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  margin-right: 0;
  margin-left: 0;
}
.cat-content--img {
  width: 50%;
  height: 50%;
}
.cat-content--text {
  margin-right: 2rem;
  margin-left: 0;
}
.icon-cat {
  right: 0;
  top: 3rem;
  color: #4d5868;
}
.content-text--title {
  margin-bottom: 0;
  font-family: "iransans medium";
  font-size: 1.6rem;
  color: #9ade45;
}
.content-text--caption-item1 {
  margin: 0.5rem 0 0 0;
  font-size: 1.3rem;
  font-family: "iransans ultra";
  color: #4d5868;
}
.content-text--caption-item2 {
  margin: 0.6rem -5rem 0 0;
  font-size: 1.3rem;
  font-family: "iransans ultra";
  color: #4d5868;
}
/* FINISH Categories */

/* START popular */
.popular-main {
  background-color: #fbf5f4;
  padding: 6rem 0 10rem 0;
}
.popular-header--title {
  color: #4d5868;
  font-family: "iransans ultra";
  font-weight: bold;
  font-size: 1.3rem;
}
.popular-header--caption {
  font-family: "iransans medium";
  font-size: 1.6rem;
}
.popular-header--caption-color {
  color: var(--primary-color);
  margin-right: 0;
  margin-left: 0;
}
.popular-keeper--items {
  margin-top: 1rem;
  margin-right: 0;
  margin-left: 0;
  padding: 2rem;
}

.popular-item {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #cdcdcda3;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  transition: all 150ms ease-in 30ms;
  -webkit-transition: all 150ms ease-in 30ms;
  -moz-transition: all 150ms ease-in 30ms;
  -ms-transition: all 150ms ease-in 30ms;
  -o-transition: all 150ms ease-in 30ms;
}
.popular-item:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.popular-item--img {
  width: 41%;
  height: 25rem;
  margin-right: 3rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.popular-item--caption {
  padding-right: 2rem;
}
.popular-caption--title {
  font-size: 1.7rem;
  font-family: "iransans medium";
  font-weight: bold;
  line-height: 2;
  padding-left: 1rem;
}
.popular-caption--user {
  color: #4d5868;
  font-size: 1.4rem;
}
.popular-caption--condition {
  margin-right: 0;
  margin-left: 0;
  margin: 1.8rem 0;
}

.popular-caption--keeper1 {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.4rem;
}
.popular-caption--text {
  margin-right: 2rem;
  margin-right: 2rem;
  margin-left: 0;
}
.popular-caption--svg-pc {
  position: absolute;
  top: 0;
  right: 0;
}
.popular-caption--keeper2 {
  margin-right: 5rem;
  font-size: 1.4rem;
  color: #4caf50;
}
.sad {
  color: #ff0000;
}
.popular-caption--online {
  margin-right: 1rem;
}
.popular-caption--svg-fac {
  position: absolute;
}
.popular-caption--price {
  color: #203675;
  font-family: "vazir Blod";
  font-size: 2.5rem;
}
.popular-caption-arrow {
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--primary-color);
  border-radius: 100rem;
  background-color: var(--primary-color);
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -ms-border-radius: 100rem;
  -o-border-radius: 100rem;
  bottom: 0;
  left: 53px;
  cursor: pointer;
  color: #fff;
  transition: all 100ms ease-in 30ms;
  -webkit-transition: all 100ms ease-in 30ms;
  -moz-transition: all 100ms ease-in 30ms;
  -ms-transition: all 100ms ease-in 30ms;
  -o-transition: all 100ms ease-in 30ms;
}
.popular-caption-arrow:hover {
  background-color: #fff;
  color: var(--primary-color);
}
/* FINISH popular */

/* START Article */
.article--title {
  font-family: "iransans medium";
  font-size: 1.8rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.article--keeper {
  max-width: 43rem;
  height: 43rem;
  background-color: #ffffff;
  padding: 1rem;
  margin: 0;
  cursor: pointer;
  transition: all 150ms ease-in 30ms;
  -webkit-transition: all 150ms ease-in 30ms;
  -moz-transition: all 150ms ease-in 30ms;
  -ms-transition: all 150ms ease-in 30ms;
  -o-transition: all 150ms ease-in 30ms;
}
.article--keeper:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important ;
}
.item-box--img {
  max-width: 40rem;
  height: 31rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  margin: 0;
}
.article--img {
  margin: 0;
}
.item-caption--title {
  margin-top: 1.4rem;
}
.caption-title--active {
  font-size: 1.4rem;
}
.item-caption--user {
  margin-top: 2rem;
}

.caption-user--img {
  width: 4rem;
  border-radius: 100rem;
  margin: 0;
}
.item-caption-name {
  font-size: 1.2rem;
  margin: 0 1rem 0 0;
  color: #4d5868;
}
/* FINISH Article */

/* START Join */
.join {
  background: url("../assets/Images/banner.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  margin-top: 8rem;
  padding: 15rem 0;
}
.join::before {
  position: absolute;
  content: "";
  background-color: #052044;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 1;
}
.join__keeper {
  z-index: 2;
  text-align: center;
}
.join-caption--title {
  font-size: 2.8rem;
}
.join-caption--text {
  font-size: 1.2rem;
  margin-top: 2rem;
}
.join-input {
  margin-top: 2rem;
  widows: 60rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}
.join-input input {
  outline: none;
  text-align: right;
  padding: 0 1rem;
  font-size: 1.8rem;
}
.join-input input::placeholder {
  font-size: 1.6rem;
  color: #4d5868;
}
.join-input--btn {
  background-color: var(--primary-color);
  width: 10rem;
  left: 0;
  cursor: pointer;
  transition: all 150ms ease-in 30ms;
  -webkit-transition: all 150ms ease-in 30ms;
  -moz-transition: all 150ms ease-in 30ms;
  -ms-transition: all 150ms ease-in 30ms;
  -o-transition: all 150ms ease-in 30ms;
}
.join-input--btn:hover {
  background-color: rgba(218, 11, 76, 0.19);

  color: var(--primary-color);
}
/* FINISH Join */

/* START Footer */
.footer {
  margin-top: 8rem;
  margin-bottom: 9rem;
}
.footer__item--img {
  max-width: 18rem;
  margin-bottom: 3rem;
  margin-right: -1.5rem;
}
.footer--text {
  color: #626a70;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
  transition: all 150ms ease-in 30ms;
  -webkit-transition: all 150ms ease-in 30m;
  -moz-transition: all 150ms ease-in 30m;
  -ms-transition: all 150ms ease-in 30m;
  -o-transition: all 150ms ease-in 30m;
}
.footer--text--active {
  margin-right: 0;
  margin-left: 0;
  text-align: right;
}
.footer--text:hover {
  color: var(--primary-color);
  font-weight: bold;
}
.footer__title {
  font-family: "iransans medium";
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3.4rem;
  margin: 1.5rem 0 3.5rem;
}
/* FINISH Footer */

/* START Copy Right */
.copy-right {
  margin-top: 4rem;
  border-top: 0.1rem solid #d9d9d9a4;
  padding: 3rem;
  color: #626a70;
}
.copy-right--link {
  transition: all 150ms ease-in 30ms;
  -webkit-transition: all 150ms ease-in 5ms;
  -moz-transition: all 150ms ease-in 30ms;
  -ms-transition: all 150ms ease-in 30ms;
  -o-transition: all 150ms ease-in 30ms;
}
.copy-right--link:hover {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}
.insta-svg:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/* FINISH Copy Right */

/* FINISH APP CSS */

/* START MEDIA QUERY */

/* 

=================================
    Min Width
=================================


*/
@media screen and (min-width: 576px) {
  .wrapper-caption {
    text-align: center;
  }
  .banner-caption--title {
    font-size: 3.5rem;
  }
  .banner-caption--text {
    max-width: 50rem;
  }
  .banner-caption__search {
    width: 50rem;
  }
  .company-logo {
    width: 10rem;
  }
  .popular-caption--title {
    font-size: 1.35rem;
  }
  .popular-caption--user {
    font-size: 1.2rem;
  }
  .popular-caption-arrow {
    bottom: 7px;
    left: -29px;
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .wrapper-caption {
    text-align: center;
  }
  .banner-caption--title {
    max-width: 66rem;
  }
  .banner-caption--text {
    max-width: 63rem;
  }
  .banner-caption__search {
    width: 63rem;
  }
  .company-logo {
    width: 14rem;
  }
  .popular-caption--title {
    font-size: 1.2rem;
  }
  .popular-caption--user {
    font-size: 1rem;
  }
  .popular-caption-arrow {
    bottom: 12px;
    left: -46px;
    height: 4rem;
    width: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .menu-hamburger--btn {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .wrapper-caption {
    text-align: center;
  }
  .company-logo {
    width: 18rem;
  }
  .popular-caption--title {
    font-size: 1.4rem;
  }
  .popular-caption--user {
    font-size: 1.2rem;
  }
  .popular-caption--price {
    font-size: 2.2rem;
  }
  .popular-caption-arrow {
    width: 5rem;
    height: 5rem;
    bottom: 3px;
    left: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .popular-caption--title {
    font-size: 1.4rem;
  }
  .popular-caption--user {
    font-size: 1.4rem;
  }
  .popular-caption--price {
    font-size: 2.5rem;
  }
  .popular-caption-arrow {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1400px) {
  .popular-caption--title {
    font-size: 1.6rem;
  }
}

/* 

=================================
    Max Width
=================================


*/
@media screen and (max-width: 1200px) {
  .menu-items {
    font-size: 1.4rem;
  }
  .menu-item {
    padding: 2.5rem 1rem;
  }
}
@media screen and (max-width: 992px) {
  .menu-item {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .popular-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .popular-item--img {
    width: 95%;
    margin-right: 0;
    margin-left: 0;
  }
  .popular-item--caption {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popular-caption--condition {
    justify-content: center;
  }
  .popular-caption--keeper2 {
    margin-right: 0;
    margin-left: 0;
  }
  .popular-caption--text {
    margin-right: 2;
    margin-left: 2.6rem;
  }
  .article--keeper-active {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .popular-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .popular-item--img {
    width: 95%;
  }
  .popular-item--caption {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .popular-caption--keeper2 {
    margin-right: 4.3rem;
    margin-left: 0;
  }
  .article--boxes {
    justify-content: center !important;
  }
  .article--title {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 575px) {
  .wrapper-caption {
    text-align: center;
  }
  .banner-caption--title {
    font-size: 3rem;
  }
  .banner-caption--text {
    max-width: 51rem;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .banner-caption__search {
    width: 100%;
  }
  .company-logo {
    width: 11rem;
  }
  .company-logo:hover {
    margin-bottom: 0;
  }
  .company-keeper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  .popular-caption--title {
    font-size: 1.4rem;
  }
  .popular-caption--user {
    font-size: 1.2rem;
  }
  .popular-caption-arrow {
    bottom: 7px;
    left: -29px;
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 390px) {
  .wrapper-caption {
    text-align: center;
  }
  .banner-caption--title {
    font-size: 2rem;
  }
  .banner-caption--text {
    width: 100%;
    font-size: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 307px) {
  .company-keeper {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .company-logo {
    width: 8rem;
  }
  .company-logo:hover {
    margin-bottom: 0;
  }
  .cat-title__header {
    font-size: 1.5rem;
  }
  .cat-title__caption {
    font-size: 1.4rem;
  }
}
/* FINISH MEDIA QUERY */
